body {
  background-color: rgb(236, 235, 235);
}

.social-icon ul {
  position: absolute;
  top: 55%;
  display: flex;
}

.social-icon ul li {
  list-style: none;
  margin: 0 5px;
  font-size: 25px;
  line-height: 60px;
  transition: 0.2s;
  color: #000;
}

.social-icon ul li a:hover {
  color: #000;
}

.social-icon ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: left;
}

.img-Station {
  border-radius: 50%;
}
